TAGS
REVISION
*.tmproj
*~
.DS_Store
.settings
.project
.tasks-cache
.svn
.vscode/
*DONOTVERSION*
/nbproject
/.idea
lib-cov
node_modules/
/npm-debug.log
/coverage
/.npm
/package-lock.json

# meteor specific
.build*
versions.json
