.npm/
build/*
build/build/*
!build/build/faker.js
!build/build/faker.min.js
doc/
examples/
meteor/
test/
logo.png
.DS_Store
reports/
.github/
.nyc_output/
*.yml
.versions
*.png
*.lock
.jshint*
gulpfile.js
CONTRIBUTING.md
CODE_OF_MERIT.MD
